<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.javatree.www.DAO.CompilerDAO">
	<resultMap type="Coding" id="MapForCoding">
		<result property="codingno" column="codingno"/>
		<result property="typeno" column="typeno"/>
		<result property="codingtemplet"  column="codingtemplet"  jdbcType="CLOB" javaType="java.lang.String" typeHandler="org.apache.ibatis.type.ClobTypeHandler"/>
		<result property="lectureno" column="lectureno"/>	
		<result property="codingquestion" column="codingquestion"/>
	</resultMap>
	
	<select id="selectOneCode" parameterType="int" resultMap="MapForCoding">
		select * from coding where codingno = #{codingno}
	</select>
	
	<select id="selectCodeList" parameterType="int" resultMap="MapForCoding">
		select * from coding where lectureno = #{lectureno}
	</select>
	
	<select id="selectAllLectureList" parameterType="int" resultType="Lecture">
		select lectureno, lecturename from coding where courseno = #{courseno} group by lectureno
	</select>
</mapper>